html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.lucio{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, #49674c 10%, #020409 100%)
}

